/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Sour Gummy", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f1e3; /* Tons de areia ou bege claro */
}



/* Estilo do Cabeçalho */
.header-banner {
    position: relative;
    height: 60vh; /* Ajuste a altura conforme desejado */
    background-image: url('img/turismo-crajubar.png'); /* Substitua com o caminho correto da sua imagem */
    background-size: cover;
    background-position: center;
}


/* Estilo do Menu */
nav {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para separar o menu do cabeçalho */
    text-align: center;
    padding: 1rem 0;
    background-color: #f7f1e3; /* Tons de areia ou bege claro */
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #555;
    border-bottom: 2px solid #333;
}

nav ul li a.active {
    color: #fff; /* Cor do texto quando ativo */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo para o item ativo */
    border-radius: 5px; /* Borda arredondada */
    padding: 5px 10px; /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao redor do link ativo */
}


/* Sessão Sobre o Turismo */
#sobre-turismo {
    padding: 2rem;
    text-align: center; /* Alinha o texto ao centro */
    margin: 0; /* Remove qualquer margem */
    width: 100%; /* Garantir que ocupe toda a largura disponível */
    box-sizing: border-box;
}

#sobre-turismo h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

#sobre-turismo p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555;
}



/* Estilos para Pontos Turísticos */
#pontos-turisticos {
    text-align: center;
    padding: 2rem 1rem;
    text-decoration: none; /* Remove o sublinhado ou qualquer estilo que possa indicar seleção */
    color: inherit; /* Faz com que a cor do texto herde a cor padrão */
    background: none; /* Remove qualquer fundo que possa indicar que está ativo */
}

#pontos-turisticos h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
    
}


/* Fundo do site */
.site-background {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    line-height: 1.0;
}



/* Ajustes de estilo para o carrossel */
.carousel-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    margin: 0 auto;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%; /* Garante que a imagem ocupe 100% da largura do container */
    height: auto; /* Ajusta automaticamente a altura para manter a proporção */
    flex: 0 0 100%; /* Faz com que cada imagem ocupe 100% da largura do carrossel */
}

/* Ajuste do carrossel para garantir que apenas uma imagem seja visível */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel-container {
        width: 100%; /* Ajusta o carrossel para ocupar 100% da largura em telas menores */
    }
}






.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card-container .card h3 {
    transition: text-shadow 0.3s ease; /* Transição suave para o efeito de sombra */
}

.card-container .card h3:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao redor do link ativo */
}

.card {
    width: 250px; /* Aumenta a largura do card */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 1rem;
}

.card-1 {
    background-color: #f7f1e3; /* Tons de areia ou bege claro */
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    width: 400px;
}

.card a {
    text-decoration: none;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    font-size: 1.5rem;
    margin: 0.8rem 0;
    color: #333;
}

.card p {
    font-size: 1rem;
    color: #555;
}


/* Estilo para o Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.footer-content p {
    margin: 0.5rem 0;
    font-size: 1rem;
}


#localizacao-estatua {
    text-align: center; /* Centraliza o texto da seção */
}

.location-container {
    display: flex; /* Alinha os filhos em linha (horizontalmente) */
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte, se necessário */
    justify-content: center; /* Centraliza os itens no eixo horizontal */
    align-items: center; /* Alinha os itens no eixo vertical */
    margin: 20px 0; /* Adiciona margem superior e inferior */
}

.image-container {
    margin: 0 10px; /* Espaço entre as imagens */
    max-width: 45%; /* Limita a largura máxima das imagens */
}

.location-container p {
    flex-basis: 100%; /* Faz o parágrafo ocupar a linha inteira */
    text-align: center; /* Centraliza o texto do parágrafo */
    margin-top: 10px; /* Espaço acima do parágrafo */
}


/* Estilo do Cabeçalho */
.header-banner {
    position: relative;
    height: 60vh;
    background-image: url('img/turismo-crajubar.png');
    background-size: cover;
    background-position: center;
}

.banner-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Estilo do Menu */
.navigation-menu {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem 0;
    background-color: #f7f1e3; /* Tons de areia ou bege claro */
}

.menu-list {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #f7f1e3; /* Tons de areia ou bege claro */
}

.menu-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px 10px;
}

.menu-link:hover {
    color: #555;
    border-bottom: 2px solid #333;
}

.menu-link.active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px 10px;
}

/* Estilo das Seções */
#about-tourism, #tourist-attractions, #city-maps {
    padding: 2rem 1rem;
    text-align: center;
}

#sobre-turismo p {
    padding: 1rem;
    text-align: justify; /* Alinha o texto para que ocupe toda a largura da seção */
    max-width: 800px; /* Limita a largura do conteúdo para facilitar a leitura */
    margin: 0 auto 0.1rem; /* Diminui ainda mais o espaçamento entre os parágrafos */
    color: #333;
}


#sobre-site {
    padding: 2rem;
    text-align: justify; /* Alinha o texto para que ocupe toda a largura da seção */
    max-width: 800px; /* Limita a largura do conteúdo para facilitar a leitura */
    margin: 0 auto; /* Centraliza a seção na página */
    color: #333;
}

#sobre-site h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

#sobre-site p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555;
    line-height: 1.6; /* Aumenta o espaçamento entre linhas para melhorar a legibilidade */
}

/* Seção Inicial de Estatísticas, Definição e Locais */
#estatisticas-historia {
    padding: 2rem;
    text-align: center;
    margin: 1.5rem 0;
    border-radius: 8px;
    background-color: rgba(192, 210, 229, 0.2); /* Azul com transparência */
    overflow: hidden; /* Oculta o conteúdo que sai da área visível */
    position: relative; /* Permite controle sobre o conteúdo interno */
}

/* Container para os itens que será animado */
#estatisticas-historia .estatisticas-container {
    display: flex; /* Exibe os itens em linha */
    transition: transform 0.5s ease-in-out; /* Suaviza a transição entre os movimentos */
}

/* Estilo dos itens de estatísticas */
.estatistica-item {
    width: 30%;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.3s ease, background-color 0.3s ease;
    flex-shrink: 0; /* Impede que os itens se encolham ao ocupar o espaço */
}

/* Efeito ao passar o mouse */
.estatistica-item:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho */
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

.estatistica-item h3 {
    font-size: 2rem;
    color: #333;
}

.estatistica-item p {
    font-size: 1rem;
    color: #555;
}


/* Estilo da seção de definição do historiador */
#definicao-historiador {
    margin: 2rem 0;
    padding: 1.5rem;
    background-color: #f2f2f2; /* Cor de fundo suave */
    border-radius: 8px;
    text-align: justify;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 8px rgba(89, 89, 89, 0.286);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
}

/* Efeito ao passar o mouse */
#definicao-historiador:hover {
    background-color: #e0e0e0; /* Cor de fundo mais escura */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.4); /* Aumento da sombra */
}


/* Estilo da seção */
#locais-visitacao {
    margin: 2rem 0;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    background-color: #f7f1e3; /* Tons de areia ou bege claro */
}

/* Contêiner dos locais */
.locais-container {
    display: flex;
    gap: 20px; /* Espaçamento entre os blocos */
    justify-content: center; /* Centraliza os blocos horizontalmente */
    flex-wrap: wrap; /* Permite que os blocos quebrem linha em telas menores */
    margin-top: 1rem;
}

/* Estilo de cada bloco local-item */
.local-item {
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px; /* Define uma largura fixa */
}

/* Estilo da imagem dentro do bloco */
.local-item img {
    width: 100%;
    height: 150px; /* Ajusta a altura */
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}


/* Estilo ao passar o mouse */
.local-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo do título do local */
.local-item h4 {
    font-size: 1.3rem;
    color: #333;
    margin-top: 0.5rem;
}

/* Estilo do parágrafo */
.local-item p {
    font-size: 1rem;
    color: #555;
}

/* Estilo do link */
.local-item a {
    text-decoration: none;
    color: #007bff;
}

.local-item a:hover {
    color: #0056b3;
    text-decoration: underline;
}


#depoimento-romeiro {
    margin: 2rem auto;
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.depoimento-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.foto-romeiro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.texto-romeiro {
    max-width: 600px;
    text-align: left;
}

.texto-romeiro .depoimento {
    font-size: 1.2rem;
    font-style: italic;
    color: #555;
    margin-bottom: 0.5rem;
}

.texto-romeiro .nome-romeiro {
    font-weight: bold;
    color: #333;
    text-align: right;
}




.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    font-size: 1.5rem;
    margin: 0.8rem 0;
    color: #333;
}

.card p {
    font-size: 1rem;
    color: #555;
}

.btn-leia-mais {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-leia-mais:hover {
    background-color: #0056b3;
}


/* Estilo para o texto introdutório sobre os historiadores */
.historiadores-intro {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.6;
}

/* Estilo para os locais a serem visitados */
.card h4 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 1.2rem;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    font-size: 1rem;
    color: #555;
    margin: 0.5rem 0;
}


.attractions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
}

.attraction-card {
    max-width: 300px;
    text-align: center;
}

.attraction-link {
    text-decoration: none;
    color: #333;
}

.attraction-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.map-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#city-map {
    padding: 2rem 1rem;
    text-align: center;
}

.region-map {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer-content {
    font-size: 0.9rem;
}



/* Responsividade para o Footer */
@media (max-width: 768px) {
    .footer-content .social-links {
        flex-direction: column;
        gap: 0.5rem;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul li {
        margin: 0 10px;
    }
}
